$light-side-bgColor: #FAFAFA;
$light-main-bgColor: #FFFFFF;
$light-color: #27272A;
$light-subColor: #CDCDD0;

$dark-side-bgColor: #000000;
$dark-main-bgColor: #18181B;
$dark-color: #F4F4F5;
$dark-subColor: #A1A1AA;
