@font-face {
  font-family: 'LXGW';
  src: url('./assets/font/LXGWNeoXiHei.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'LXGW', sans-serif;
}

.header-icon {
  width: 25px;
  height: 25px;
}
